/* OUTER WRAPPER */
.wrapper {
    position: relative;
    padding-top: 20px;
}

/* CENTER TITLE */
.center-title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #f9fafb;
    padding: 6px 16px;
    z-index: 10;
}


.right-panel {
    display: flex;
    align-items: center;      /* vertical center */
    justify-content: center;  /* horizontal center */
}


/* TITLE TEXT STYLE */
.title-text {
    font-size: 24px;
    font-weight: 700;
    color: #1f2933;
}

/* MAIN LAYOUT */
.container {
    display: flex;
    gap: 40px;
    padding: 35px 25px 25px;
    background: #f9fafb;
    border-radius: 8px;
}

/* SECTIONS */
.section {
    flex: 1;
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}

/* SOFT DIVIDER */
.divider {
    width: 1px;
    background: #e5e7eb;
    align-self: stretch;
}

.right-panel c-csv-uploader {
    max-width: 270px;
    width: 100%;
}